
body {
	font-family: 'Ubuntu', sans-serif;
	
}
header {
	background-image: url("../images/header_ubuntu_test.png");
	width: 100%;
	height: 750px;
	
}
h1 {
	text-align: center;
	font-weight: 600;
	color: #292929;
}
h3 {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 2px;
}
h4 {
	font-weight: lighter;
}
.nav-style {
		background: linear-gradient(#5d5d5d, #3b3b3b);
		position: fixed-top;
		font-size: 1.2em;
		font-weight: 500;
		letter-spacing: -1px;
		box-shadow: 0px 5px 5px rgba(41,41,41,0.5);
		
}
@media(min-width:768px) {
    .navbar-fixed-top {
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
		border: none;
		min-height:40px;
		height: 40px;
		position: fixed-top;
    }

}
.inner-space {
	align: center;
	width: 100px;
	height: 1px;
	border: none;
	background-color: #333333;
}
.circular {
	width: 300px;
	height: 300px;
	border-radius: 20px;
}
.ubuntu-box {
	border-color: #fff;
	border-radius: 5px;
	border-style: solid;
	border-width:thin medium thick;
	background: linear-gradient(rgba(237,49,70,0.5),rgba(118,37,114,0.5));
	
	
}
nav>li>a:hover {
	color: #fff;
	background-color: #e95420;
	height: 40px;
}

