
body {
	font-family: 'Ubuntu', sans-serif;
	color: #292929;
	background-color: #f7f7f7;
	
}
header {
	background-image: url("../images/header_ubuntu_test.png");
	width: 100%;
	height: 750px;
	box-shadow: 0px 5px 5px rgba(41,41,41,0.5);
	
}
h1 {
	text-align: center;
	font-weight: 500;
}
h3 {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 2px;
}
h4 {
	font-weight: lighter;
	text-align: center;
}
.nav-style {
		background: linear-gradient(#5d5d5d, #3b3b3b);
		position: fixed-top;
		font-size: 1.2em;
		font-weight: 500;
		letter-spacing: -1px;
		box-shadow: 0px 5px 5px rgba(41,41,41,0.5);
		
}
@media(min-width:768px) {
    .navbar-fixed-top {
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
		border: none;
		min-height:40px;
		height: 40px;
		position: fixed-top;
    }

}
.inner-space {
	align: center;
	width: 100px;
	height: 1px;
	border: none;
	background-color: #e95420;
}
.circular {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	 margin: 0 auto;
}
.ubuntu-box {
	border-color: #fff;
	border-radius: 5px;
	border-style: solid;
	border-width:thin medium thick;
	background: linear-gradient(rgba(237,49,70,0.5),rgba(118,37,114,0.5));
	
	
}
nav>li>a:hover {
	color: #fff;
	background-color: #e95420;
	height: 40px;
}
.gradient-section {
	background: linear-gradient(#762572,#ed3146);
	color: #fff;
}
.img-align {
	margin: auto;
	box-shadow: 5px 5px 5px rgba(41,41,41,0.5);
}
.art {
	background-color: #e95420;
	color: #fff;
}
.prop {
	background-color: #fff !important;
}

.second-effect .mask {
   opacity: 0;
   overflow:visible;
   border:0px solid rgba(0,0,0,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.second-effect a.info {
	position:relative;
	top:-10px;
	opacity:0;
   -moz-transform:scale(0,0);
   -webkit-transform:scale(0,0);
   -o-transform:scale(0,0);
   -ms-transform:scale(0,0);
   transform:scale(0,0);
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.second-effect:hover .mask {
   opacity: 1;
   border:100px solid rgba(233,84,32,0.8);
}
.second-effect:hover a.info {
	opacity:1;
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}

.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: none;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask, .view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view a.info {
   background:url(../images/link.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

	
